{% extends "base.html" %}

{% block content %}
<h2 class="form-signin-heading">ユーザの追加</h2>
<form data-toggle="validator" method="post" action="{{approot}}/admin/add-user">
  {% if message == 'success' %}
  <div class="alert alert-success" role="alert">
    ユーザを追加しました．
  </div>
  {% endif %}
  {% if message == 'exist' %}
  <div class="alert alert-warning" role="alert">
    すでに存在するユーザを追加しようとしました．
  </div>
  {% endif %}
  <div class="form-group">
    <label for="inputUserID" class="sr-only">ユーザID</label>
    <input name="userid" type="text" id="inputUserID" class="form-control" placeholder="作成するユーザのID" required>
  </div>
  <div class="form-group">
    <label for="inputNewPassword" class="sr-only">パスワード</label>
    <input name="newpass" type="password" id="inputNewPassword" data-minlength="6" class="form-control" placeholder="パスワード" required>
    <span class="help-block">6文字以上</span>
  </div>
  <div class="form-group">
    <label for="inputNewPasswordConfirm" class="sr-only">パスワード（確認用）</label>
    <input name="newpass2" type="password" id="inputNewPasswordConfirm" class="form-control" data-match="#inputNewPassword" data-match-error="パスワードが違います" placeholder="パスワード（確認）" required>
    <div class="help-block with-errors"></div>
  </div>
  <div class="form-group">
    <label for="inputGroup" class="sr-only">グループID</label>
    <input name="group" type="text" id="inputGroup" class="form-control" placeholder="ユーザの所属グループ" required>
  </div>
  <div class="form-group">
    <label for="inputName" class="sr-only">学籍番号</label>
    <input name="name" type="text" id="inputName" class="form-control" placeholder="学籍番号" required>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">作成</button>
</form>
{% endblock %}
