<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="東北大学工学部電気情報物理工学科 プログラミング演習Ａ（第３セメスター）">
    <meta name="author" content="Naoaki Okazaki, Inui-Okazaki Laboratory">
    <!--<link rel="icon" href="/favicon.ico">-->

    <title>プログラミング演習Ａ{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/default.min.css">

    <!-- Custom styles for this page -->
    <style type="text/css">
      {% block css %}
      body {padding-top: 70px;}
      .jumbotron h1 {font-size: xx-large;}
      footer {padding-top:40px;padding-bottom:40px;margin-top:100px;color:#767676;text-align:center;border-top:1px solid #e5e5e5}
      footer p {margin-bottom:0}
      table.table-striped {width: auto !important;}
      pre.io {
       height: auto;
       max-height: 400px;
       overflow: auto;
       background-color: #eeeeee;
       word-break: normal !important;
       word-wrap: normal !important;
       white-space: pre !important;
      }
      {% endblock %}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    {% block navbar %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="home">プログラミング演習Ａ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="home">ホーム</a></li>
            {% if current_user.get_group() == 'admin' or current_user.get_group() == 'ta' %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">進捗状況<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="admin/group/a">Aクラス</a></li>
                <li><a href="admin/group/b">Bクラス</a></li>
                <li><a href="admin/group/c">Cクラス</a></li>
                <li><a href="admin/group/d">Dクラス</a></li>
                <li><a href="admin/group/ta">TA</a></li>
                <li><a href="admin/group/admin">教員</a></li>
              </ul>
            </li>
            {% endif %}
            {% if current_user.get_id() in ('enshu01', 'enshu02') %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">管理<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="admin/add-user">ユーザの作成</a></li>
                <li><a href="admin/reset-user">パスワードのリセット</a></li>
              </ul>
            </li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.get_id() }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="account">パスワードの変更</a></li>
                <li><a href="logout">ログアウト</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% endblock %}

    <div class="container">{% block content %}{% endblock %}</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/static/bootstrap/js/validator.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
      hljs.configure({tabReplace: '    '});
    </script>

    {% block js %}
    {% endblock %}
  </body>
</html>
