{% extends "base.html" %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th class="text-center">問題</th>
      <th class="text-center">状態</th>
      <th class="text-center">提出</th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr>
    <td><a href="{{ task.url }}">{{ task.id }}: {{ task.title }}</a></td>
    {% if not task.submission %}
    <td class="text-warning">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
      未提出
    </td>
    {% elif task.submission.status == 'ok' %}
    <td class="text-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      成功 ({{ task.submission.passed }} / {{ task.submission.tests | count }}) at {{ task.submission.timestamp }}
    </td>
    {% elif task.submission.status == 'fail' %}
    <td class="text-danger">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      失敗 ({{ task.submission.passed }} / {{ task.submission.tests | count }}) at {{ task.submission.timestamp }}
    </td>
    {% elif task.submission.status == 'queue' %}
    <td class="text-info">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      評価中
    </td>
    {% endif %}
    <td>
      <form class="form-inline" action="/submit/{{ task.id }}" method="POST" enctype="multipart/form-data">
	<div class="form-group">
	  <input type="file" name="source" class="form-control"></input>
	  <button type="submit" class="btn btn-primary">提出</button>
	</div>
      </form>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
