{% extends "base.html" %}

{% block content %}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th class="text-center">ユーザ</th>
      {% for task in tasks %}
      <th class="text-center">{{ task.id }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for userid, user in users.items() %}
  <tr>
    <td>
      <a href="/admin/user/{{ user.id }}">{{ user.id }}</a>
      {% if user.notice %}
      {{ user.notice.score | round(2) }} (#{{ user.notice.rank }}) for {{ user.notice.tasks }}
      {% endif %}
    </td>
    {% for s in user.progress.values() %}
    {% if not s %}
    <td class="text-center text-warning">
      <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </td>
    {% elif s.status == 'ok' %}
    <td class="text-center text-success">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      (<a href="/admin/view/{{ user.id }}/{{ s.task }}">{{ s.passed }}</a>)
    </td>
    {% elif s.status == 'fail' %}
    <td class="text-center text-danger">
      <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
      (<a href="/admin/view/{{ user.id }}/{{ s.task }}">{{ s.passed }}</a>)
    </td>
    {% elif s.status == 'error' %}
    <td class="text-center text-warning">
      <span class="glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
    </td>
    {% elif s.status == 'queue' %}
    <td class="text-center text-info">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    </td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>

  <tfoot>
    <tr>
      <th>完了 ({{ users|count }}人中)</th>
      {% for task in tasks %}
      <th class="text-right">{{ task.num_completed }}</th>
      {% endfor %}
    </tr>
  </tfoot>
</table>

{% endblock %}
