<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>お知らせ</h1>
        </div>
        {{ content }}

        <div class="page-header">
            <h1>Posts</h1>
        </div>
        <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                    <a class="post-link" href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a>
                </h2>
            </li>
            {% endfor %}
        </ul>

        <p><img border="0" src="{{ site.baseurl }}/images/map.png"></p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.github.url }}">via RSS</a></p>
    </div>


    {% include footer.html %}
  </body>

</html>
